flows/query.yml
id: query
namespace: dev

inputs:
  - name: data
    type: FILE

tasks:

  - id: wd
    type: io.kestra.core.tasks.flows.WorkingDirectory
    tasks:

      - id: query
        type: io.kestra.plugin.jdbc.duckdb.Query
        inputFiles:
          data.csv: "{{ inputs.data }}"
        store: true
        sql: "{{ read('script/training_data.sql') }}"

      - id: csv_writer
        type: io.kestra.plugin.serdes.csv.CsvWriter
        from: "{{ outputs.query.uri }}"

      - id: train
        type: io.kestra.plugin.scripts.python.Commands
        warningOnStdErr: false
        namespaceFiles:
          enabled: true
        runner: PROCESS
        inputFiles:
          training_data.csv: "{{ outputs.csv_writer.uri }}"
        outputFiles:
          - model.pkl
        beforeCommands:
          - pip install pandas scikit-learn
        commands:
          - python script/train.py

