flows/query.yml
id: query
namespace: dev

inputs:
  - name: data
    type: FILE

tasks:

  - id: deploy
    type: io.kestra.core.tasks.flows.WorkingDirectory
    tasks:

      - id: clone
        type: io.kestra.plugin.git.Clone
        url: https://github.com/Ben8t/meteo-data-ops

      - id: deploy_files
        type: io.kestra.plugin.scripts.shell.Commands
        warningOnStdErr: false
        runner: PROCESS
        commands:
          - /app/kestra namespace files update dev ./script ./script --server=http://0.0.0.0:8080

      - id: query
        type: io.kestra.plugin.jdbc.duckdb.Query
        inputFiles:
          data.csv: "{{ inputs.data }}"
        store: true
        sql: "{{ read('script/training_data.sql') }}"

      - id: csv_writer
        type: io.kestra.plugin.serdes.csv.CsvWriter
        from: "{{ outputs.query.uri }}"

      - id: train
        type: io.kestra.plugin.scripts.python.Commands
        warningOnStdErr: false
        runner: PROCESS
        inputFiles:
          training_data.csv: "{{ outputs.csv_writer.uri }}"
        beforeCommands:
          - pip install pandas scikit-learn
        commands:
          - python script/train.py

